* {
    font-family: Pacifico;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 100;
}

td, table {
    border: solid black 2px;
    text-align: center;
}

button {
    height: 40px;
    width: 60%;
    border: none;
    background-color: greenyellow;
    font-size: 14px;
    font-weight: 900;
    color: whitesmoke;

}

button:hover {
    background-color: rgb(155, 209, 75);
}

button:active {
    background-color: green;
}
div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mark {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.summary {
    margin: 10px;
}
